.overlay-inactive {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}
.overlay-active {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.inactive {
  position: fixed;
  width: 500px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--surface-variant);
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 500px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--surface-variant);
  z-index: 300;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.header-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    svg {
      fill: var(--text-primary);
    }
  }
  h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 900;
    color: var(--text-primary);
    text-align: center;

    svg {
      width: 24px;
      height: 24px;
      fill: var(--text-primary);
      stroke: var(--text-primary);
      stroke-width: 3px;
    }
  }
}
