.card-notification-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;

  border-radius: 10px;
  border: 1px solid var(--border-color2);
  background-color: var(--surface-variant-3);

  .header-notification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    svg {
      width: 20px;
      height: 20px;
      fill: var(--text-primary);
      stroke: var(--text-primary);
      stroke-width: 1px;
    }
    p {
      font-size: 16px;
      font-weight: 700;
      color: var(--text-primary);
    }
  }
  .description-notification {
    padding: 0px 10px;
  }
}
