
.content-card {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

.not-product {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
  color: var(--text-primary);
}
.footer-inactive {
  display: none;
}
.footer-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
  border-top: 2px solid var(--border-color);
}
.total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-primary);
  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 900;
  }
}

.footer-buttons-container-active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-buttons-container-inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .close-button {
    display: none;
  }
}

.order-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  svg {
    width: 100px;
    height: 100px;
    fill: var(--primary-color);
  }
  p {
    font-size: 15px;
    font-weight: 900;
    color: var(--text-primary);
  }
  .order-modal-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
    margin-top: 10px;
  }
}
.footer-button {
  padding: 20px 50px;
  background-color: var(--primary-color);
  color: var(--text-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
}
.payment-title {
  color: var(--text-primary);
  font-size: 14px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .inactive,
  .active {
    width: 100%;
  }
  .header-preview {
    padding: 15px;
  }
}
