.quantity-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  box-sizing: border-box;
  height: 30px;
  gap: 4px;
  border-radius: 10px;
  p {
    margin: 0px;
    min-width: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
  }
  background-color: var(--surface-variant-2);
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    svg {
      width: 10px;
      fill: var(--text-primary);
    }
  }
}
